# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
aiohttp==3.8.5
beautifulsoup4==4.12.2
python-slugify==8.0.1
lxml==4.9.3
scrapingant-client==2.1.0
httpx
azure-storage-blob